<div class="card bg-dark text-white" style="border-radius: 1rem;">
    <form [formGroup]="_form" (ngSubmit)="login(_form.value)">
    <div class="card-body p-5 text-center">

      <div class="mb-md-5 mt-md-4 pb-5">

        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
        <p class="text-white-50 mb-5">Please enter your login and password!</p>
        <div class="form-outline form-white mb-4">
          <input type="email" id="typeEmailX" class="form-control form-control-lg" formControlName="name" />
          <label class="form-label" for="typeEmailX">Name</label>
        </div>

        <div class="form-outline form-white mb-4">
          <div class="alert alert-danger" role="alert" *ngIf="_form.get('pass')?.touched && _form.get('pass')?.errors?.['required'] ">
            CAMPO REQUERIDO
          </div>
          <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" />
          <label class="form-label" for="typePasswordX">Password</label>
        </div>

        <p class="small mb-5 pb-lg-2"><a class="text-white-50" (click)="cambio()">Registrarse</a></p>

        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
      </div>
    </div>
  </form>
  </div>