<div class="card bg-dark text-white" style="border-radius: 1rem; width: 50rem;">

    <form [formGroup]="_form" >
      <div class="card-body p-8 text-center">
  
        <div class="mb-md-5 mt-md-4 pb-4">
  
          <h2 class="fw-bold mb-2 text-uppercase">Registro de Animales</h2>
          <div class="form-outline form-white mb-4">
            <input type="text" id="typeEmailX" class="form-control form-control-lg" formControlName="nombre" />
            <label class="form-label" for="typeEmailX">Nombre del Animal</label>
          </div>

          <div class="form-outline form-white mb-4">
            <input type="text" id="typeEmailX" class="form-control form-control-lg" formControlName="imagen" />
            <label class="form-label" for="typeEmailX">Foto</label>
          </div>

          
          <div class="form-outline form-white mb-4"  >
            <select class="form-select" aria-label="Default select example" formControlName="id_tiposanimal">
              <option *ngFor="let item of tiposanimal" value="{{item.id}}"> {{item.tipo}} </option>
            </select>
            <label class="form-label" for="typeEmailX">Tipo de Animal</label>
          </div>



          <div *ngIf="button==true">
            <button class="btn btn-outline-light btn-lg px-5" type="registrar" (click)="registro(_form.value)">Registro</button>
          </div>
          <div *ngIf="button==false">
            <button class="btn btn-outline-light btn-lg px-5" type="registrar" (click)="update(_form.value)" >Actualizar</button>
          </div>
        </div>
      </div>
    </form>
    <table class="table table-dark" style="border-radius: 1rem;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Imagen</th>
          <th scope="col">Tipo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of animales">
          <th scope="row">{{item.id}}</th>
          <td>{{item.nombre}}</td>
          <td>{{item.imagen}}</td>
          <td><div *ngFor="let e of tiposanimal"><i *ngIf="item.id_tiposanimal==e.id">{{e.tipo}}</i></div></td>
          <td>
            <div class="g-2">
              <button class="btn text-primary btn-sm" (click)="edit(item.id)"> <i>editar</i> </button>
               <button class="btn text-danger btn-sm" (click)="destroy(item.id)"> <i>borrar</i> </button>
            </div>
            </td>
        </tr>
       
      </tbody>
    </table>
  </div>

